@import url("./fonts/fonts.css");


.createEventFormDiv {
	color:white;
    background-color: gray;
}

.formTitle{
	font-family: 'Lobster', cursive;
	font-size:40px;
	text-align:center;
}
.createEventEntry{
	border-style:dotted;
	border-color:black;
}

.createEventFieldName{
	background-color:white;
	color:black;
	display:inline-block;
	font-size:25px;
}

#createEventFormOuterDiv{
	display:inline-block;
}

.createEventModal {
   top: 200px;
   right: 50px;
   bottom: 0;
   left: 0;
   z-index: 10040;
   text-align: center;
   overflow: auto;
   overflow-y: auto;
}

.createEventNestedModal {
   top: 200px;
   right: 50px;
   bottom: 0;
   left: 0;
   z-index: 10040;
   overflow: auto;
   overflow-y: auto;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  padding: 20px 15%;
}
form header {
  margin: 0 0 20px 0; 
}
form header div {
  font-size: 90%;
  color: #999;
}
form header h2 {
  margin: 0 0 5px 0;
}
form > div {
  clear: both;
  overflow: hidden;
  padding: 1px;
  margin: 0 0 10px 0;
}
form > div > fieldset > div > div {
  margin: 0 0 5px 0;
}
form > div > label,
legend {
	width: 25%;
  float: left;
  padding-right: 10px;
}
form > div > div,
form > div > fieldset > div {
  width: 75%;
  float: right;
}
form > div > fieldset label {
	font-size: 90%;
}
fieldset {
	border: 0;
  padding: 0;
}

input[type=text],
input[type=email],
input[type=url],
input[type=password],
input[type=datetime-local],
textarea {
	width: 75%;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
input[type=text],
input[type=email],
input[type=url],
input[type=datetime-local],
input[type=password],
textarea {
  width: 75%;
  color:black;
}
input[type=text]:focus,
input[type=email]:focus,
input[type=url]:focus,
input[type=datetime-local]:focus,
input[type=password]:focus,
textarea:focus {
  outline: 0;
  border-color: #4697e4;
  color: black;
}

@media (max-width: 600px) {
  form > div {
    margin: 0 0 15px 0; 
  }
  form > div > label,
  legend {
	  width: 100%;
    float: none;
    margin: 0 0 5px 0;
  }
  form > div > div,
  form > div > fieldset > div {
    width: 100%;
    float: none;
  }
  input[type=text],
  input[type=email],
  input[type=url],
  input[type=password],
  textarea,
  select {
    width: 100%; 
  }
}
@media (min-width: 1200px) {
  form > div > label,
	legend {
  	text-align: right;
  }
}

.submitEventButton, .myButton{
	padding-left: 30px;
	color: black;
	text-align: center;
}