.box {
  width: 300px;
  height: 50px;
  display:inline-block;
  text-align: left;
  padding-top: 3ex;
  margin-left: 5ex;
}

.container-1 {
  width: 300px;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
}

.container-1 input#search{
  width: 300px;
  height: 50px;
  background: #f2f2f2;
  border: none;
  font-size: 10pt;
  float: left;
  color: #404040;
  padding-left: 45px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.container-1 input#search::-webkit-input-placeholder {
   color: #404040;
}
 
.container-1 input#search:-moz-placeholder { /* Firefox 18- */
   color: #404040;  
}
 
.container-1 input#search::-moz-placeholder {  /* Firefox 19+ */
   color: #404040;  
}
 
.container-1 input#search:-ms-input-placeholder {  
   color: #404040;  
}

.container-1 .icon{
  position: absolute;
  top: 50%;
  margin-left: 17px;
  margin-top: 17px;
  z-index: 1;
  color: #404040;
}

#dashboard {
	display: block;
	text-align: center;
	vertical-align: middle;
}

#addEventButton {
	display: inline-block;
	margin-left: 1vw;
  font-size: 17px;
  border-radius: 20px;
  position: relative;
}

#searchAndAdd {
	vertical-align: middle;
	margin-top: 3ex;
  visibility: visible;
  opacity: 1;
  transition: all 0.5s linear;
  display: block;
  width: 71%;
  margin-bottom: 5ex;
}

#searchAndAdd .fade.in {
    -webkit-animation-name: fadeIn;
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0.3;
        -webkit-transform: translateY(100px);
    } 
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}


.eventsDivs {
  text-align: center;
  transition-property: all;
  transition-duration: .5s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  font-family: 'Lobster', cursive;
}

.eventsDivs.closed {
  max-height: 0;
}

.eventTypeHeading{
  border: 1px solid #d9534f;
  margin-bottom: 0;
  width: 400px;
  height: 53px;
  vertical-align: middle;
  padding-top: 5px;
  margin-left: auto;
  margin-right: auto;
}

#eventDivsOuter {
  margin-right: auto;
  margin-left: auto;
  
}

.noEvents {
  font-size: 22px;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #d9534f;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a90329+0,8f0222+44,6b2c3a+100 */
  background: #d9534f; /* Old browsers */
  height: 56.8px;
  padding-top: 10px;
  border: 0.5px solid white;
  /*background: -moz-linear-gradient(top,  #a90329 0%, #8f0222 44%, #6b2c3a 100%); /* FF3.6-15 */
  /*background: -webkit-linear-gradient(top,  #a90329 0%,#8f0222 44%,#6b2c3a 100%); /* Chrome10-25,Safari5.1-6 */
  /*background: linear-gradient(to bottom,  #a90329 0%,#8f0222 44%,#6b2c3a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6b2c3a',GradientType=0 ); /* IE6-9 */
}

#myEventsDivsOuter #otherEventsDivsOuter {
  transition: all 4s ease;
}

#eventPageLeaderOuterDivId {
  display:block;
}