@import url("./fonts/fonts.css");

#eventPageLeader {
	position: relative;
	background-color: white;
	color: black;
	width: 500px;
	height: 500px;
	text-align: center;
	width: 75%;
	margin-top: 30px;
}