@import url("./fonts/fonts.css");

#eventPageLeader {
	position: relative;
	/* background: rgba(255, 255, 255, 0.85) ; */
	color: white;
	width: 75%;
	padding-top: 20px;
	padding-right: 50px;
	padding-left: 50px;
	margin-left: auto;
    margin-right: auto;
}

.videoDeleteButtons {
	margin-top: auto;
	margin-bottom: auto;
}

#backButton {
	float: left;
	display: inline-block;
}

#endButton {
	float: right;
	display: inline-block;
}

#editButton {
	padding-left: 90px;
}

.eventName{
	font-family: 'Lobster', cursive;
	font-size: 50px;
	text-align:center;
    margin-top: 0px;
	display: inline-block;
}

.eventDetails{
	font-size: 20px;
	text-align:center;
	margin-top: 10px;
	font-family: 'Roboto Condensed', sans-serif;
}

hr {
    display: block;
    height: 2px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

#musicQueueTitle {
	font-family: 'Lobster', cursive;
	font-size: 30px;
	text-align:center;
	margin-bottom: -1px;
}

#addSong{
	font-family: 'Lobster', cursive;
	font-size: 30px;
	text-align:center;
	margin-bottom: -1px;
}


#videos{
	display: inline-block;
	/*
	margin: auto;
	padding-top: 20px;
	*/
	margin-left: 0vw;
	position: relative;
}

/* responsive neccessity */
@media only screen and (max-width: 862px) {
    #videos {
    	margin-left: -10vw;
    }
}

.videoOuterDiv {
	height: 270px;
	margin-bottom: 20px;
	width: 542px;
    text-align: left;
}

.videoInnerDiv {
	display: inline-block;
}

.videoInnerDiv {
	height: 270px;
    width: 480px;
}

.videoDeleteButton {
	font-family: Arial, Helvetica, sans-serif;
	padding-top: 4px;
	padding-right: 11px;
	padding-bottom: 4px;
	padding-left: 11px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border-radius: 4px;
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
    margin-bottom: 250px;
    margin-left: 13px;
    display: inline-block;
    position: relative;
}
.videoDeleteButton:hover {
	color: #fff;
    background-color: #d2322d;
    border-color: #ac2925;
}

.attendee-songOuterDiv {
	border: 0.5px solid white;
	width: 92%;
}

.attendee-songInnerDiv{
	text-align: left;
	padding-left: 5px;
	padding-bottom: 5px;
	padding-top: 5px;
	/* margin-top: 0; */
	position: relative;
	transition: all 0.5s ease;
}

#attendee-queue {
	font-family: 'Lobster', cursive;
	font-size: 40px;
	text-align:center;
}

#attendee-queue-list li{
	list-style-type: none;
	text-align: left;
	font-size: 40px;
	font-family: 'Roboto Condensed', sans-serif;
}

#speaker-icon {
	height: 24px;
	width: 24px;
}

.attendee-queue-title {
	display: inline-block;
	color: white;
	text-align: left;
	/*margin-left: 10px;*/
}

.attendee-queue-img {
	text-align: right;
	float:right;
	margin-right: 10px;
}

.attendee-queue-title {
	text-decoration: none;
	color: white;
	width: 90%;
}

.attendee-queue-title:hover {
	text-decoration: none;
	color: white;
}

.attendee-queue-title:active {
	text-decoration: none;
	color: white;
}

.attendee-queue-title:visited {
	text-decoration: none;
	color: white;
}

