@import url("./fonts/fonts.css");
#homePageWelcome {
	font-size: 39px;
}
#signDiv {
	margin-top: 38px;
}
#logoHomePage {
	width: 160px;
	height: 100px;
}
.divStyle {
  	background-color: #000000;
  	width: 100vw;
  	height: 100vh;
  	color: white;
  	text-align: center;
  	background-image:
    linear-gradient(white,white),
    linear-gradient(white,white),
    linear-gradient(white,white),
    linear-gradient(white,white),
    linear-gradient(white,white),
    linear-gradient(white,white),
    linear-gradient(white,white);
  
  background-position: 
    calc(50% - 30px) 50%,
    calc(50% - 20px) 50%,
    calc(50% - 10px) 50%,
    50% 50%,
    calc(50% + 10px) 50%,
    calc(50% + 20px) 50%,
    calc(50% + 30px) 50%;
  
  background-size: 
    5px 10px,
    5px 10px,
    5px 10px,
    5px 10px,
    5px 10px,
    5px 10px,
    5px 10px;
  background-repeat: no-repeat;
  
  animation: l-bars 1s linear infinite alternate;
}
@keyframes l-bars {
  0% {  
    background-size: 
      5px 30px,
      5px 10px,
      5px 10px,
      5px 10px,
      5px 10px,
      5px 10px,
      5px 10px;
    }
  16.6% {  
    background-size: 
      5px 10px,
      5px 40px,
      5px 10px,
      5px 10px,
      5px 10px,
      5px 10px,
      5px 10px;
    }
  33.2% {  
    background-size: 
      5px 10px,
      5px 10px,
      5px 40px,
      5px 10px,
      5px 10px,
      5px 10px,
      5px 10px;
    }
  49.8% {  
    background-size: 
      5px 10px,
      5px 10px,
      5px 10px,
      5px 40px,
      5px 10px,
      5px 10px,
      5px 10px;
    }
  66.4% {  
    background-size: 
      5px 10px,
      5px 10px,
      5px 10px,
      5px 10px,
      5px 40px,
      5px 10px,
      5px 10px;
    }
  83% {  
    background-size: 
      5px 10px,
      5px 10px,
      5px 10px,
      5px 10px,
      5px 10px,
      5px 40px,
      5px 10px;
    }
  100% {  
    background-size: 
      5px 10px,
      5px 10px,
      5px 10px,
      5px 10px,
      5px 10px,
      5px 10px,
      5px 40px;
    }
  }
.innerStyle {
	margin: auto;
  	position: absolute;
  	top: 0;
  	left: 0;
  	bottom: 0;
  	right: 0;
  	padding-top: 309px;
}
.inner {
	vertical-align: middle;
	font-family: 'Lobster', cursive;
	font-size: 20px;
}
.signUp {
	display: inline-block;
	margin-left: 5px;
}
.signIn {
	display: inline-block;
	margin-right: 5px;
	margin-left: 6px;
}

.signUpIn {
  background: #ffffff;
  background-image: -webkit-linear-gradient(top, #ffffff, #ffffff);
  background-image: -moz-linear-gradient(top, #ffffff, #ffffff);
  background-image: -ms-linear-gradient(top, #ffffff, #ffffff);
  background-image: -o-linear-gradient(top, #ffffff, #ffffff);
  background-image: linear-gradient(to bottom, #ffffff, #ffffff);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: 'Lobster', cursive;
  color: #000000;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  height: 27px;
  width: 64.75px;
}

.signUpIn:hover {
  background: #0073CF;
  text-decoration: none;
}