/* @import url("./fonts/fonts.css"); */

.divStyle {
  	background-color: #000000;
  	width: 100vw;
  	height: 100vh;
  	color: white;
  	text-align: center;
}
.innerStyle {
	margin: auto;
  	position: absolute;
  	top: 0;
  	left: 0;
  	bottom: 0;
  	right: 0;
  	padding-top: 100px;
}
.inner {
	vertical-align: middle;
	font-family: 'Lobster', cursive;
	font-size: 20px;
}
.signUp {
	display: inline-block;
	margin-left: 5px;
}
.signIn {
	display: inline-block;
	margin-right: 5px;
}

.signUpIn {
  background: #ffffff;
  background-image: -webkit-linear-gradient(top, #ffffff, #ffffff);
  background-image: -moz-linear-gradient(top, #ffffff, #ffffff);
  background-image: -ms-linear-gradient(top, #ffffff, #ffffff);
  background-image: -o-linear-gradient(top, #ffffff, #ffffff);
  background-image: linear-gradient(to bottom, #ffffff, #ffffff);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: 'Lobster', cursive;
  color: #000000;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.signUpIn:hover {
  background: #0073CF;
  text-decoration: none;
}