@import url("./fonts/fonts.css");
#homePageWelcome {
	font-size: 39px;
}
#signBtnDiv {
	margin-top: -67px;
}
#logoHomePage {
  margin-top: -10px;
	width: 240px;
	height: 240px;
  background-image:
    linear-gradient(white,white),
    linear-gradient(white,white),
    linear-gradient(white,white),
    linear-gradient(white,white),
    linear-gradient(white,white),
    linear-gradient(white,white),
    linear-gradient(white,white),
    linear-gradient(white,white),
    linear-gradient(white,white);
  
  background-position: 
    calc(50% - 40px) 50%,
    calc(50% - 30px) 50%,
    calc(50% - 20px) 50%,
    calc(50% - 10px) 50%,
    50% 50%,
    calc(50% + 10px) 50%,
    calc(50% + 20px) 50%,
    calc(50% + 30px) 50%,
    calc(50% + 40px) 50%;
  
  background-size: 
    5px 10px,
    5px 10px,
    5px 10px,
    5px 10px,
    5px 10px,
    5px 10px,
    5px 10px,
    5px 10px,
    5px 10px;
  background-repeat: no-repeat;
  
  animation: l-bars 1s linear infinite alternate;
}

#appDiv {
  text-align: center;
  width: 100vw;
  height: 100vh;
  color: white;
}
.homePageDiv {
  	width: 100vw;
  	height: 23ex;
  	color: white;
  	text-align: center;
}
@keyframes l-bars {
  0% {  
    background-size: 
      5px 50px,
      5px 40px,
      5px 30px,
      5px 20px,
      5px 10px,
      5px 10px,
      5px 10px,
      5px 10px,
      5px 10px;
    }
  12.5% {  
    background-size: 
      5px 40px,
      5px 50px,
      5px 40px,
      5px 30px,
      5px 20px,
      5px 10px,
      5px 10px,
      5px 10px,
      5px 10px;
    }
  25% {  
    background-size: 
      5px 30px,
      5px 40px,
      5px 50px,
      5px 40px,
      5px 30px,
      5px 20px,
      5px 10px,
      5px 10px,
      5px 10px;
    }
  37.5% {  
    background-size: 
      5px 20px,
      5px 30px,
      5px 40px,
      5px 50px,
      5px 40px,
      5px 30px,
      5px 20px,
      5px 10px,
      5px 10px;
    }
  50% {  
    background-size: 
      5px 10px,
      5px 20px,
      5px 30px,
      5px 40px,
      5px 50px,
      5px 40px,
      5px 30px,
      5px 20px,
      5px 10px;
    }
  62.5% {  
    background-size: 
      5px 10px,
      5px 10px,
      5px 20px,
      5px 30px,
      5px 40px,
      5px 50px,
      5px 40px,
      5px 30px,
      5px 20px;
    }
  75% {  
    background-size: 
      5px 10px,
      5px 10px,
      5px 10px,
      5px 20px,
      5px 30px,
      5px 40px,
      5px 50px,
      5px 40px,
      5px 30px;
    }
  87.5% {  
    background-size: 
      5px 10px,
      5px 10px,
      5px 10px,
      5px 10px,
      5px 20px,
      5px 30px,
      5px 40px,
      5px 50px,
      5px 40px;
    }
  100% {  
    background-size: 
      5px 10px,
      5px 10px,
      5px 10px,
      5px 10px,
      5px 10px,
      5px 20px,
      5px 30px,
      5px 40px,
      5px 50px;
    }
  }
.homePageColumn {
	margin: auto;
  	position: absolute;
  	top: 0;
  	left: 0;
  	bottom: 0;
  	right: 0;
  	padding-top: 309px;
}
.homePageRow {
	vertical-align: middle;
	font-family: 'Lobster', cursive;
	font-size: 20px;
}
.signUpBtn {
	display: inline-block;
	margin-left: 5px;
}
.signInBtn {
	display: inline-block;
	margin-right: 5px;
	margin-left: 6px;
  visibility: visible;
  opacity: 1;
}

.signUpInBtn {
  background: #ffffff;
  background-image: -webkit-linear-gradient(top, #ffffff, #ffffff);
  background-image: -moz-linear-gradient(top, #ffffff, #ffffff);
  background-image: -ms-linear-gradient(top, #ffffff, #ffffff);
  background-image: -o-linear-gradient(top, #ffffff, #ffffff);
  background-image: linear-gradient(to bottom, #ffffff, #ffffff);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: 'Lobster', cursive;
  color: #000000;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  height: 47px;
  width: 197.75px;
  transition: all 0.3s ease 0s;
  border-width: 0px;
}

.signUpInBtn:hover {
  background: #3b5998;
  text-decoration: none;
  color: white;
}

#displayNone {
  display: none;
}

#moveLogoUp {
  padding-top: 0;
  transition: all 0.7s ease;
  margin-top: 0px;
  height: 30ex;
  margin-bottom: 0px;
}

@-webkit-keyframes hvr-back-pulse {
  50% {
    background-color: rgba(32, 152, 209, 0.75);
  }
}

@keyframes hvr-back-pulse {
  50% {
    background-color: rgba(32, 152, 209, 0.75);
  }
}

.hvr-back-pulse {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}
.hvr-back-pulse:hover, .hvr-back-pulse:focus, .hvr-back-pulse:active {
  -webkit-animation-name: hvr-back-pulse;
  animation-name: hvr-back-pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  background-color: #3b5998;
  color: white;
}