.container {
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased !important;
  color: #222;
  width: 300px;
  height: 50px;
  background: #f2f2f2;
  border: none;
  font-size: 10pt;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.container-2 {
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
}

.container-2 input#search{
  font-family: Arial, Helvetica, sans-serif;
  width: 300px;
  height: 50px;
  background: #f2f2f2;
  border: none;
  font-size: 10pt;
  color: #404040;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding-left: 45px;
}

.container-2 input#search::-webkit-input-placeholder {
   color: #404040;
}
 
.container-2 input#search:-moz-placeholder { /* Firefox 18- */
   color: #404040;  
}
 
.container-2 input#search::-moz-placeholder {  /* Firefox 19+ */
   color: #404040;  
}
 
.container-2 input#search:-ms-input-placeholder {  
   color: #404040;  
}

.container-2 .icon{
  top: 5%;
  margin-left: 17px;
  margin-top: 17px;
  z-index: 1;
  color: #404040;
  font-size: 10pt;
  position: absolute;

  font-size: 18px;
  -webkit-font-smoothing: antialiased !important;
  color: #222;
  margin: auto;
  width: 400px;
}

.footer {
  margin: 50px 10px 0 10px;
  padding: 10px;
  border-top: #ddd solid 1px;
}

h1 {
  font-size: 36px;
  text-align: center;
}

p, a {
  font-size: 14px;
  text-align: center;
  display: block;
}

/* list styling */
#listDiv {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 300px;
  width: 400px;
  overflow-y: scroll;
  border: #ddd solid 1px;
  z-index: 2;
  position:relative;
  margin:auto;
  margin-top: 3em;
}

.listItem {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 80px;
  padding: 5px;
  background-color: #f2f2f2;
  z-index: 3;
  color: #000000;
  position:relative;
}

/* popup styling */
#popupDiv {
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.mm-popup {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  color: #000000;
  border: 1px solid #888;
  width: 80%;
}

.mm-popup__btn {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.mm-popup__btn:hover,
.mm-popup__btn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
